<!-- Generated template for the MeteoComponent component -->
<div>
  <ion-card>
    <ion-card-header>
      <h1>Météo de {{title}}</h1> <br>
      <small>Latitude: {{lat}}, Longitude: {{lon}}</small>
    </ion-card-header>
    <ion-card-content>
      <img src="{{urlImg}}" alt="meteo">
      <br>
      Condition : {{condition}} <br>
      Date : {{todate}} <br>
      Température : {{tmp}}°C
    </ion-card-content>
  </ion-card>
</div>
