<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Météo.com</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <meteo ville="Bourges"></meteo>
  <meteo ville="Rennes"></meteo>
  <meteo ville="Paris"></meteo>

</ion-content>
